#mapid {
    background-color: #1a1a1a;
}

.coordinates-box {
    background: rgba(255, 255, 255, 0.7);
    margin: 0 !important;
    box-shadow: none;
    font-size: 11px;
    padding: 0 5px;
    color: #333;
}
